<!DOCTYPE html>
<html ng-app="fifapp" lang="pl-PL">

<head>
    <meta charset="utf-8">
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="/commons/bootstrap341/css/bootstrap.min.css" rel="stylesheet">
    <link href="/commons/css/app/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/commons/css/fontello/css/fontello.css" rel="stylesheet" type="text/css" />
    <link href="/commons/img/favicon.ico" rel="icon" type="image/png">
    <script src="/commons/js/angular.js"></script>
    <script src="/commons/js/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-resource.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-cookies.js"></script>
    <script src="/commons/bootstrap341/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="/webapp/app.js"></script>
    <script src="/webapp/League/LeagueController.js"></script>
    <script src="/webapp/League/LeagueService.js"></script>
    <script src="/webapp/Round/RoundController.js"></script>
    <script src="/webapp/Round/RoundService.js"></script>
    <script src="/webapp/Player/PlayerController.js"></script>
    <script src="/webapp/Player/PlayerService.js"></script>
    <script src="/webapp/Home/HomeController.js"></script>
    <script src="/webapp/Login/LoginService.js"></script>
    <script src="/webapp/Login/LoginController.js"></script>
    <script src="/webapp/Login/LogoutController.js"></script>
    <script src="/webapp/Registration/RegistrationController.js"></script>
    <script src="/webapp/Registration/RegistrationService.js"></script>
    <script src="/webapp/Admin/AdminController.js"></script>
    <script src="/webapp/Admin/AdminService.js"></script>
    <script src="/webapp/User/UserController.js"></script>
    <script src="/webapp/User/UserService.js"></script>
    <script src="/webapp/Home/AlertService.js"></script>

    <title>Fifapp</title>
</head>

<body ng-controller="HomeController">
    <nav class="navbar navbar-inverse">
        <div ng-controller="LeagueController" ng-init="getListOfLeagues()">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
                    <a class="navbar-brand" href="#" title="Strona główna"><span class="glyphicon glyphicon-home"></span> FIF APP</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" ng-href="#!leagues">Sezony<span class="caret"></span></a>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li ng-show="authenticated"><a href="" data-toggle="modal" data-target="#leagueModal">Utwórz nowy+</a></li>
                                <li ng-repeat="league in leagues"><a ng-href="{{'#!leagues/' + league.leagueId}}">{{league.name}}</a></li>
                            </ul>
                        </li>
                        <li><a ng-href="#!players">Zawodnicy</a></li>
                        <li><a ng-href="#!regulations">Zasady</a></li>
                        <li><a ng-href="#!aboutUs">O nas</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="authenticated && currentUser.admin"><a href="#!controlPanel"><span class="glyphicon glyphicon-th"></span> Panel kontrolny</a></li>
                        <li ng-show="!authenticated"><a ng-href="#!registration"><span class="glyphicon glyphicon-user"></span> Dołącz do nas</a></li>
                        <li ng-show="!authenticated"><a ng-href="#!login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
                        <li ng-show="authenticated"><a ng-href="{{'#!userDetails/'+ loggedUser.username}}"><span class="glyphicon glyphicon-user"> {{loggedUser.username}}</span></a></li>
                        <li ng-show="authenticated"><a href="#!logout"><span class="glyphicon glyphicon-log-out alertAction"></span> Wyloguj</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <!--main content-->
    <div class="main-content" ng-controller="HomeController">
        <div class="container">
            <div class="row">

                <div id="eventAlert" ng-class="alertStatus == 1 ? 'alert alert-success alert-dismissible' : (alertStatus == 0 ? 'alert alert-danger alert-dismissible' : 'alert alert-info alert-dismissible')" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{alertPrefix}}</strong>{{alertMessage}}
                </div>

                <div ng-view></div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <span class="copyright">Created by <a>Patryk Wieteska</a></span>
            </div>
        </div>
    </footer>

    <!-- OKNO MODALNE TWORZENIA LIGI -->
    <div class="modal fade" id="leagueModal" ng-controller="LeagueController" tabindex="-1" role="dialog" aria-labelledby="leagueModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="leagueModalLabel"><label class="label label-default">Utwórz ligę</label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <div class="modal-body">

                    <!-- Create league form -->
                    <form novalidate name="leagueForm">
                        <div class=form-row>
                            <div class="form-group col-md-6" ng-class="{'has-error': leagueForm.leagueName.$invalid}">
                                <label for="leagueName">Nazwa Ligi</label>
                                <input type="text" class="form-control" name="leagueName" ng-model="league.name" id="leagueName" placeholder="Nazwa Ligi" required ng-minlength="4" ng-maxlength="25">
                                <small class="error" ng-show="leagueForm.leagueName.$error.required">Nazwa ligi jest wymagana</small>
                                <small class="error" ng-show="leagueForm.leagueName.$error.minlength">Zbyt krótka nazwa - min. 3 znaki</small>
                                <small class="error" ng-show="leagueForm.leagueName.$error.maxlength">Zbyt długa nazwa</small>
                            </div>

                            <div class="form-group col-md-6" ng-class="{'has-error': leagueForm.startDate.$invalid}">
                                <label for="startDate">Data rozpoczęcia</label>
                                <input type="date" class="form-control" name="startDate" ng-model="league.startDate" id="startDate" placeholder="Rozpoczęcie" required>
                                <small class="error" ng-show="leagueForm.startDate.$error.required">Data rozpoczęcia ligi jest wymagana</small>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="endDate">Data zakończenia</label>
                                <input type="date" class="form-control" ng-model="league.endDate" id="endDate" placeholder="Zakończenie">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="location">Lokalizacja</label>
                                <input type="text" class="form-control" ng-model="league.location" id="location" placeholder="Lokalizacja">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description" class="col-form-label">Opis</label>
                                <textarea class="form-control" ng-model="league.description" id="desc" placeholder="Opis"></textarea>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="reset" class="btn btn-default" id="reset-btn" ng-click="reset()">Wyczyść</button>
                            <button type="submit" class="btn btn-success" ng-click="addLeague(league.name, league.startDate, league.endDate,
                            league.description, league.location)" data-dismiss="modal" ng-disabled="leagueForm.$invalid"><span class="glyphicon glyphicon-ok"> Utwórz</span></button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    </div>
</body>



</html>