<div ng-init="init()">
    <div class="content col-md-1 hidden-sm hidden-xs"></div>
    <div class="content col-md-7 col-sm-12 col-xs-12">
        <div class="section-block">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>
                            PANEL ADMINISTRATORA
                        </h1>
                    </div>
                    <div class="col-xs-12 text-left">
                        <label class="label label-default">UŻYTKOWNICY</label>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="Tabs" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><button class="btn tabButton" data-target="#activeUsers" aria-controls="activeUsers" role="tab" data-toggle="tab">
                            Aktywni</button></li>
                        <li><button class="btn tabButton" data-target="#inactiveUsers" aria-controls="inactiveUsers" role="tab" data-toggle="tab">Zablokowani</button></li>
                        <br>
                        <br>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="padding-top: 20px">
                        <div role="tabpanel" class="tab-pane active" id="activeUsers">
                            <strong>Lista aktywnych użytkowników</strong> <br>
                            <div class="row">
                                <div class="panel-body fontFamily">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <div class="row text-center" style="background-color:#e0d1cb; color:white; padding:10px; border-radius: 50px;">
                                                <div class="content col-md-4 col-xs-6"><strong>UŻYTKOWNIK</strong></div>
                                                <div class="content col-md-4 col-xs-0 hidden-xs"><strong>DATA REJESTRACJI</strong></div>
                                                <div class="content col-md-4 col-xs-6"><strong>AKCJA</strong></div>
                                                <div class="col-xs-12" style="background-color:#e0d1cb; height:3px;width:100%"></div>
                                            </div>
                                            <div ng-repeat="user in users | filter : {activeFlag: true}" ng-if="user.username!=currentUser.username" class="list-group-item list-group-item-action text-center" ng-click=setActiveUserPanel(user)>
                                                <div class="row" style="background-color:#e0d1cb; cursor: pointer;">
                                                    <div class="content col-md-4 col-xs-6">{{user.username}}</div>
                                                    <div class="content col-md-4 hidden-xs">{{claculateTime(user.registrationDate) | date: 'yyyy-MM-dd HH:mm'}}</div>
                                                    <div class="content col-md-4 col-xs-6"><button class="btn btn-sm btn-danger alertAction" ng-click="deactivate(user.id)">Dezaktywuj</button></div>
                                                    <div class="col-xs-12" style="background-color:#e0d1cb; height:3px;width:100%"></div>
                                                    <div class="col-xs-12" style="background-color:gray; height:2px;width:100%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="inactiveUsers">
                            <strong>Lista zablokowanych użytkowników</strong> <br>
                            <div class="row">
                                <div class="panel-body fontFamily">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <div class="row text-center" style="background-color:#e0d1cb; color:white; padding:10px; border-radius: 50px;">
                                                <div class="content col-md-4 col-xs-6"><strong>UŻYTKOWNIK</strong></div>
                                                <div class="content col-md-4 col-xs-0 hidden-xs"><strong>DATA REJESTRACJI</strong></div>
                                                <div class="content col-md-4 col-xs-6"><strong>AKCJA</strong></div>
                                                <div class="col-xs-12" style="background-color:#e0d1cb; height:3px;width:100%"></div>
                                            </div>
                                            <div ng-repeat="user in users | filter : {activeFlag: false}" ng-if="user.username!=currentUser.username" class="list-group-item list-group-item-action text-center" ng-click=setActiveUserPanel(user)>
                                                <div class="row" style="background-color:#e0d1cb; cursor: pointer;">
                                                    <div class="content col-md-4 col-xs-3">{{user.username}}</div>
                                                    <div class="content col-md-4 hidden-xs">{{claculateTime(user.registrationDate) | date: 'yyyy-MM-dd HH:mm'}}</div>
                                                    <div class="content col-md-4 col-xs-3"><button class="btn btn-sm btn-success alertAction" ng-click="activate(user.id)">Aktywuj</button></div>
                                                    <div class="col-xs-12" style="background-color:#e0d1cb; height:3px;width:100%"></div>
                                                    <div class="col-xs-12" style="background-color:gray; height:2px;width:100%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







        </div>
    </div>
    <!--/tabs-->
    <!--/main content-->
    <!--sidebar-->
    <div class="content col-md-3 col-sm-12 col-xs-12" style="color:whitesmoke">
        <div class="section-block summary">
            <div class="row" ng-if="activeUserPanel">
                <div class="col-xs-12 text-center"><label class="label label-default">Użytkownik</label></div>
                <div class="col-xs-12" style="color:whitesmoke text-left">
                    <div class="col-xs-12">
                        <h3>{{activeUserPanel.username}}</h3><br>Rozpoczęcie: {{claculateTime(activeUserPanel.registrationDate) | date: 'yyyy-MM-dd HH:mm'}}<br>{{activeUserPanel.email}}<br> {{activeUserPanel.registrationReason}}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="content col-md-1 hidden-sm hidden-xs"></div>
</div>