<div ng-init="resetLoginForm()" ng-controller="HomeController">
    <div class="alert alert-danger" ng-show="error">
        Wystąpił problem z logowanie - spróbuj ponownie!
    </div>
    <div class="content col-md-6 col-sm-12 col-xs-12">
        <div class="section-block">

            <!-- MAIN CONTENT -->
            <div>
                <h4><label class="label label-default">Zaloguj się</label></h4>
                <form novalidate name="loginForm" role="form" ng-submit="login()">
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-error': loginForm.username.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" ng-model="userCredentials.username" class="form-control" name="username" placeholder="Użytkownik" required="required">
                        </div>
                        <small class="error" ng-show="loginForm.username.$dirty
                        && loginForm.username.$error.required">Użytkownik wymagany</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-error': loginForm.password.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" ng-model="userCredentials.password" class="form-control" name="password" placeholder="Hasło" required="required">
                        </div>
                        <small class="error" ng-show="loginForm.password.$dirty
                        && loginForm.password.$error.required">Hasło jest wymagane</small>
                    </div>
                    <div class="form-group">
                        <button style="background-color: darkcyan;" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block btn-lg">Zaloguj</button>
                    </div>
                </form>
            </div>
            <div class="text-right">Nie masz konta?<a class="btn btn-link" ng-href="#!register" data-dismiss="modal">Zarejestruj się</a></div>
        </div>
    </div>
    <!--/tabs-->
    <!--/main content-->
    <!--sidebar-->
    <div class="content col-md-6 col-sm-12 col-xs-12">
        <div class="section-block summary">
            <h1 class="section-title">FIF APP</h1>
            <div class="profile-contents">
                <h2 class="position">Znajdź nas</h2>
                <img src="../img/logo_v1.png" style="height:100px;" class="img responsive" alt="logo">
                <!--social links-->
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-git"></i></a></li>
                </ul>
                <!--/social links-->
                <a href="#" class="btn btn-contact"><i class="fa fa-envelope"></i>CONTACT US</a>
            </div>
        </div>
    </div>
    <!--/sidebar-->
</div>