<div ng-init="resetRegistrationForm()" ng-controller="HomeController">

    <div id="eventAlert" ng-class="alertStatus == 1 ? 'alert alert-success alert-dismissible' : (alertStatus == 0 ? 'alert alert-danger alert-dismissible' : 'alert alert-info alert-dismissible')" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{alertPrefix}}</strong>{{alertMessage}}
    </div>

    <div class="content col-md-6 col-sm-12 col-xs-12">
        <div class="section-block">

            <!-- MAIN CONTENT -->
            <div>
                <h4><label class="label label-default">Zarejestruj się</label></h4>
                <form novalidate name="registrationForm">
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-error': registrationForm.username.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" ng-model="newUser.username" name="username" placeholder="Nazwa użytkownika" required="required">
                        </div>
                        <small class="error" ng-show="registrationForm.username.$dirty
                        && registrationForm.username.$error.required">Podaj nazwę użytkownika</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-error': registrationForm.password.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" ng-model="newUser.password" name="password" placeholder="Hasło" required="required">
                        </div>
                        <small class="error" ng-show="registrationForm.password.$dirty
                        && registrationForm.password.$error.required">Hasło jest wymagane</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-error': registrationForm.confirmPassword.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" ng-model="newUser.confirmPassword" name="confirmPassword" placeholder="Powtórz hasło" required="required" equal={{newUser.password}}>
                        </div>
                        <small class="error" ng-show="registrationForm.confirmPassword.$dirty
                        && registrationForm.confirmPassword.$error.required">Powtórz hasło</small>
                        <small class="error" ng-show="registrationForm.confirmPassword.$dirty
                        && registrationForm.confirmPassword.$error.equal">Hasła nie są takie same</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-error': registrationForm.email.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="text" class="form-control" ng-model="newUser.email" name="email" placeholder="Email" required="required">
                        </div>
                        <small class="error" ng-show="registrationForm.email.$dirty
                        && registrationForm.email.$error.required">Email jest wymagany</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-error': registrationForm.confirmEmail.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="text" class="form-control" ng-model="newUser.confirmEmail" name="confirmEmail" placeholder="Powtórz Email" required="required">
                        </div>
                        <small class="error" ng-show="registrationForm.confirmEmail.$dirty
                        && registrationForm.confirmEmail.$error.required">Powtórz email</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" ng-class="{'has-error': registrationForm.reason.$invalid}">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <textarea class="form-control" name="reason" ng-model="newUser.reason" id="desc" placeholder="Opisz powód dołączenia" required="required"></textarea>
                        </div>
                        <small class="error" ng-show="registrationForm.reason.$dirty
                        && registrationForm.reason.$error.required">Powtórz email</small>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="registerPlayer()" style="background-color: darkcyan;" ng-disabled="registrationForm.$invalid" class="btn btn-primary btn-block btn-lg">Zarejestruj</button>
                    </div>
                </form>
            </div>
            <div class="text-right">Masz już konto?<a class="btn btn-link" ng-href="#!login" data-dismiss="modal">Zaloguj się</a></div>
        </div>
    </div>
    <!--/tabs-->
    <!--/main content-->
    <!--sidebar-->
    <div class="content col-md-6 col-sm-12 col-xs-12">
        <div class="section-block summary">
            <h1 class="section-title">FIF APP</h1>
            <div class="profile-contents">
                <h2 class="position">Znajdź nas</h2>
                <img src="../img/logo_v1.png" style="height:100px;" class="img responsive" alt="logo">
                <!--social links-->
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-git"></i></a></li>
                </ul>
                <!--/social links-->
                <a href="#" class="btn btn-contact"><i class="fa fa-envelope"></i>CONTACT US</a>
            </div>
        </div>
    </div>
    <!--/sidebar-->
</div>