<div ng-init="">
    <div class="content col-md-8 col-sm-12 col-xs-12">
        <div class="section-block">
            <!-- MAIN CONTENT -->
            <h1>Witamy oficjalnie</h1>
        </div>
    </div>
    <!--/tabs-->
    <!--/main content-->
    <!--sidebar-->
    <div class="content col-md-4 col-sm-12 col-xs-12">
        <div class="section-block summary">
            <h1 class="section-title">FIF APP</h1>
            <div class="profile-contents">
                <h2 class="position">Znajdź nas</h2>
                <img src="../img/logo_v1.png" style="height:100px;" class="img responsive" alt="logo">
                <!--social links-->
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-git"></i></a></li>
                </ul>
                <!--/social links-->
                <a href="#" class="btn btn-contact"><i class="fa fa-envelope"></i>CONTACT US</a>
            </div>
        </div>
    </div>
    <!--/sidebar-->
</div>