<div ng-init="init()">
    <div class="page-header">
        <h1>{{league.name}}</h1>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
        <div class="panel panel-default" ng-repeat="round in rounds">
            <div class="panel-heading" style="background-color: mediumseagreen; font-weight:bold;" role="tab" id="headingOne{{round.roundId}}">
                <div class="row">
                    <div>
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne{{round.roundId}}" aria-expanded="false" data-parent="#accordion">
                            {{round.whichLeagueRound}} KOLEJKA | {{claculateTime(round.roundDate) | date: 'EEEE, MMMM M, yyyy'}}
                        </h4>
                    </div>
                    <div><button type="button" ng-click="setNewMatchSettings(round)" data-toggle="modal" data-target="#matchModal" class="btn btn-success btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Dodaj mecz" aria-hidden="true"></span></button></div>
                </div>
            </div>
            <div id="collapseOne{{round.roundId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne{{round.roundId}}">
                <div class="panel-body ">
                    <!-- LISTA MECZÓW -->
                    <!--<table class="table" ng-repeat="match in leagueMatches | filter : {roundId: round.roundId}">-->
                    <div class="container-fluid">
                        <div class="row" ng-repeat="match in leagueMatches | filter : {roundId: round.roundId}">
                            <div class="col-sm-2 col-xs-1 col-xs-2" style="text-align:center">
                                <label class="label label-default hidden-xs" data-toggle="tooltip" data-placement="top" title="Godzina meczu">23:09</label>
                            </div>
                            <div class="col-sm-2 col-xs-1 col-xs-2" style="text-align:center">
                                <div data-toggle="tooltip" class="teamBackground" data-placement="top" ng-attr-title="{{match.homeTeamName}}">
                                    <img ng-src="{{match.homeTeamLogoUrl}}" width="30px" height="30px" data-toggle="tooltip" data-placement="top" title="{{match.homeTeamName}}">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-1 col-xs-2" style="text-align:center">
                                <div style="color: black;">
                                    <div class="row"><label class="label-xs">{{match.homeFirstPlayerAlias}}</label></div>
                                    <div class="row"><label>{{match.homeSecondPlayerAlias}}</label></div>
                                </div>
                            </div>
                            <!-- <td>
                                    <button class="hidden-xs btn btn-default">{{match.homeTeamName}}</button>
                                </td> -->
                            <div class="col-sm-2 col-sm-2 col-xs-2" style="text-align:center">
                                <button type="button" style="width:60px; height:45px; font-size:20px; text-align:center" class="btn btn-warning" data-toggle="modal" data-target="#myModal" ng-click="setEditContext(match)" data-placement="top" title="Edytuj wynik">{{match.homeGoals}}:{{match.awayGoals}}</button>
                            </div>
                            <!-- <td>
                                    <button class="hidden-xs btn btn-default">{{match.awayTeamName}}</button>
                                </td> -->
                            <div class="col-sm-2 col-sm-2 col-xs-2" style="text-align:center">
                                <div style="color: black;">
                                    <div class="row"><label>{{match.awayFirstPlayerAlias}}</label></div>
                                    <div class="row"><label>{{match.awaySecondPlayerAlias}}</label></div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-sm-2 col-xs-2" style="text-align:center">
                                <div data-toggle="tooltip" class="teamBackground" data-placement="top" ng-attr-title="{{match.awayTeamName}}">
                                    <img ng-src="{{match.awayTeamLogoUrl}}" width="30px" height="30px" data-toggle="tooltip" data-placement="top" title="{{match.awayTeamName}}">
                                </div>
                            </div>
                            <div class="col-sm-2 col-sm-2 col-xs-2" style="text-align:right">
                                <div>
                                    <div class="row"><button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
  <span class="glyphicon glyphicon-edit glyphicon-align-left" aria-hidden="true"></span></button></div>
                                    <div class="row"><button type="button" class="btn btn-danger btn-xs" aria-label="Left Align">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODALNE OKNO EDYCJI WYNIKU -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{claculateTime(matchEdited.matchDate) | date: 'EEEE, MMMM M, yyyy - HH:mm'}} </h4>
                </div>
                <table class="table table-striped table-dark">
                    <tbody>
                        <tr class="matchRow">
                            <td style="text-align:center">
                                <div data-toggle="tooltip" style="background-color:gray; height:40px; width:40px; border-radius:10px;
                                " data-placement="top" ng-attr-title="{{matchEdited.homeTeamName}}">
                                    <img ng-src="{{matchEdited.homeTeamLogoUrl}}" width="40px" height="40px" data-toggle="tooltip" data-placement="top" title="{{matchEdited.homeTeamName}}">
                                </div>
                            </td>
                            <td style="text-align:center">
                                <div style="color: black;">
                                    <div class="row"><label>{{matchEdited.homeFirstPlayerAlias}}</label></div>
                                    <div class="row"><label>{{matchEdited.homeSecondPlayerAlias}}</label></div>
                                </div>
                            </td>
                            <td style="text-align:center">
                                <td>
                                    <input type="text" style="width:50px; font-size:20px; text-align:center; font-weight:bold" class="form-control col-sm-1" ng-model="matchEdited.homeGoals" id="homeGoals">

                                </td>
                                <td>
                                    <input type="text" style="width:50px; font-size:20px; text-align:center; font-weight:bold" class="form-control col-sm-1" ng-model="matchEdited.awayGoals" id="awayGoals">
                                </td>
                            </td>
                            <td style="text-align:center">
                                <div style="color: black;">
                                    <div class="row"><label>{{matchEdited.awayFirstPlayerAlias}}</label></div>
                                    <div class="row"><label>{{matchEdited.awaySecondPlayerAlias}}</label></div>
                                </div>
                            </td>
                            <td style="text-align:center">
                                <div data-toggle="tooltip" style="background-color:gray; height:40px; width:40px; border-radius:10px;
                                " data-placement="top" ng-attr-title="{{matchEdited.awayTeamName}}">
                                    <img ng-src="{{matchEdited.awayTeamLogoUrl}}" width="40px" height="40px" data-toggle="tooltip" data-placement="top" title="{{matchEdited.awayTeamName}}">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="editMatch()" data-dismiss="modal">EDYTUJ</button>
                </div>
            </div>

        </div>
    </div>


    <!-- MODAL - DODAWANIE MECZU -->
    <div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="matchModalLabel">DODAJ MECZ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <div class="modal-body">

                    <!-- Create Match form -->
                    <form name="newMatchForm" novalidate>
                        <div class=form-row>
                            <div class="form-group col-md-6" ng-class="{'has-error': newMatchForm.homeData.$invalid}">
                                <label for="homeData">GOSPODARZE</label>
                                <div class="well">
                                    <div class="form-group">
                                        <select class="selectpicker form-control" id="homeFirstPlayer" name="homeFirstPlayer" data-live-search="true" ng-model="newMatch.homeFirstPlayerId" ng-options="player.playerId as player.alias for player in players">
                                            <option value="" disabled>--Wybierz gracza--</option>
                                                    </select>
                                        <small class="error" ng-show="newMatchForm.homeFirstPlayer.$error.required">Gracze są wymagani</small>
                                    </div>
                                    <div class="form-group">
                                        <select class="selectpicker form-control" id="homeSecondPlayer" name="homeSecondPlayer" data-live-search="true" ng-model="newMatch.homeSecondPlayerId" ng-options="player.playerId as player.alias for player in players">
                                            <option value="" disabled>--Wybierz gracza--</option>
                                        </select>
                                        <small class="error" ng-show="newMatchForm.homeSecondPlayer.$error.required">Gracze są wymagani</small>
                                    </div>
                                    <div class="form-group">
                                        <select class="selectpicker form-control" id="homeTeam" name="homeTeam" data-live-search="true" data-live-search="true" ng-model="newMatch.homeTeamId" ng-options="team.teamId as team.name for team in teams ">
                                            <option value="" disabled>--Wybierz drużynę--</option>
                                        </select>
                                        <small class="error" ng-show="newMatchForm.homeTeam.$error.required">Drużyny są wymagane</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="awayData">GOŚCIE</label>
                                <div class="well">
                                    <div class="form-group" ng-class="{'has-error': newMatchForm.awayFirstPlayer.$invalid}">
                                        <select class="selectpicker form-control" id="awayFirstPlayer" name="awayFirstPlayer" data-live-search="true" ng-model="newMatch.awayFirstPlayerId" ng-options="player.playerId as player.alias for player in players">
                                            <option value="" disabled>--Wybierz gracza--</option>
                                        </select>
                                        <small class="error" ng-show="newMatchForm.awayFirstPlayer.$error.required">Gracze są wymagani</small>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': newMatchForm.awaySecondPlayer.$invalid}">
                                        <select class="selectpicker form-control" id="awaySecondPlayer" name="awaySecondPlayer" data-live-search="true" ng-model="newMatch.awaySecondPlayerId" ng-options="player.playerId as player.alias for player in players">
                                            <option value="" disabled>--Wybierz gracza--</option>
                                        </select>
                                        <small class="error" ng-show="newMatchForm.awaySecondPlayer.$error.required">Gracze są wymagani</small>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': newMatchForm.awayTeam.$invalid}">
                                        <select class="selectpicker form-control" id="awayTeam" name="awayTeam" data-live-search="true" ng-model="newMatch.awayTeamId" ng-options="team.teamId as team.name for team in teams">
                                            <option value="" disabled>--Wybierz drużynę--</option>
                                                </select>
                                        <small class="error" ng-show="newMatchForm.awayTeam.$error.required">Gracze są wymagani</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="comment" class="col-form-label">Komentarz meczowy</label>
                                <textarea class="form-control" ng-model="newMatch.comments" id="comment" placeholder="Dodaj komentarz"></textarea>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="reset" class="btn btn-info" id="match-reset-btn" ng-click="resetNewMatch()">Wyczyść</button>
                            <button type="submit" class="btn btn-primary" ng-click="addNewMatch(newMatch.homeFirstPlayerId,newMatch.homeSecondPlayerId,newMatch.awayFirstPlayerId,newMatch.awaySecondPlayerId,newMatch.homeTeamId,newMatch.awayTeamId,newMatch.comments,activeRound.roundId,activeRound.leagueId)"
                                data-dismiss="modal" ng-disabled="newMatchForm.$invalid">Dodaj mecz</button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


</div>